<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:replace="fragments/page :: header">
</head>

<body>
	<div class="container">
		<p>
		<h3 th:replace="fragments/page :: title"></h3>
		<a href="?lang=hu_HU" class="btn btn-info">Magyar</a> <a
			href="?lang=en_US" class="btn btn-warning">English</a>
		<p>
		<p>

			<a href="?theme=normal" class="btn" role="button">Normal</a> <a
				href="?theme=grayscale" class="btn" role="button">Gray</a>
		<p>
		<p>
		<h2>Error - Spring MVC Controller Employee Not Found</h2>
	</div>

</body>
</html>