<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:replace="fragments/page :: header">
</head>

<body>
	<div class="container">
		<p>
		<h3 th:replace="fragments/page :: title"></h3>
		<a href="?lang=hu_HU" class="btn btn-info">Magyar</a> <a
			href="?lang=en_US" class="btn btn-warning">English</a>
		<p>
		<div th:if="${message}" th:text="${message}"
			class="alert alert-success"></div>
		<p>
		<div th:if="${messageAlert}" th:text="${messageAlert}"
			class="alert alert-danger"></div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th th:text="#{name}">Name</th>
				</tr>
			</thead>

			<tbody>
				<th:block th:each="employee : ${employees}">
					<tr>
						<td><a th:href="@{/employee/{id} (id=${employee.id})}"
							th:text="${employee.id}"></a></td>
						<td th:text="${employee.name}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<form th:action="@{/}" th:object="${employee}" method="post">
			<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
				<label for="name-input" th:text="#{name}">Name</label> 
				<input
					th:field="*{name}" class="form-control" id="name-input"
					th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" />
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"/>
					
			</div>
			<button th:text="#{button.create}" type="submit"
				class="btn btn-primary">Create employee</button>
		</form>
	</div>


</body>
</html>