<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/page :: header">
</head>

<body>


	<div class="container">
	
	<h3 th:replace="fragments/page :: title"></h3>
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>

			<tbody>
				<th:block th:each="employee : ${employees}">
					<tr>
						<td ><a th:href="@{/employee/{id} (id=${employee.id})}" th:text="${employee.id}"></td>
						<td th:text="${employee.name}"></td>
					</tr>
				</th:block>
			</tbody>

		</table>

	</div>
</body>
</html>